@charset "utf-8";
/* CSS Document */

#tsNewsletterContent{	
	width:auto;
	max-width:600px;
	height:auto;	
	left:30%;
	margin-left:30%;
	-webkit-box-shadow:  2px 2px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	padding:21px;
	background-color:#fff;
}
#newsletterWrapper{
	background-color: #046bb2;
	height: auto;
	left: 0;
	padding: 21px 0;
	position: absolute;
	top: 10%;
	width: 100%;
}